<p id="notice"><%= notice %></p>

<%= form_for(:session, url: sessions_path) do |f| %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "log in"%>
  </div>
<% end %>


<%= link_to 'Log In', 'users/login' %>

<%= link_to 'Sign Up', new_user_path %>
