<p id="notice"><%= notice %></p>

<h1>Hello, <%= @user.username %></h1>

<strong>Your Projects</strong>
<ul>
  <% @user.projects.each do |project|%>
    <li><%= project.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit Your Profile', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
